table {
    border-collapse: collapse;
    width: 100%;
    align-items: center;
}

th {
    text-align: center;
    padding: 8px;
}
h1{
	text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}
.center {
  width: 800px;
}